@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
}

code {
  font-family: var(--font-geist-mono); /* Font code */
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

#container {
  scroll-snap-type: y mandatory;
}
.container {
  perspective: 1000px; /* Đặt góc nhìn để tạo hiệu ứng 3D */
}
.fade-in-section {
  opacity: 0;
  translate: 0 50px; /* Thay vì transform */
  transition: opacity 0.6s ease-out, translate 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  translate: 0 0;
}
@keyframes scroll-logos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-grid {
  display: flex;
  overflow: hidden;
  position: relative;
}

.logo-item {
  flex-shrink: 0;
  width: 30%; /* Set the width of each logo */
  height: 100%; /* Set the height of each logo */
  /* margin-right: 20px; Set the spacing between logos */
}

.animate-left-to-right {
  animation: scroll-logos 30s linear infinite; /* Adjust the duration for the speed of the animation */
}

.fade-in-section {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
