@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
}

code {
  font-family: var(--font-geist-mono); /* Font code */
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

#container {
  scroll-snap-type: y mandatory;
}
.container {
  perspective: 1000px;
}
.fade-in-section {
  opacity: 0;
  translate: 0 50px;
  transition: opacity 0.6s ease-out, translate 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  translate: 0 0;
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.logo-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logo-track {
  display: flex;
  min-width: 200%;
}

.animate-left-to-right {
  animation: scroll-right 30s linear infinite;
}

.animate-right-to-left {
  animation: scroll-left 30s linear infinite;
}

.logo-item {
  flex-shrink: 0;
  width: 120px;
  height: 80px;
  margin-right: 20px;
}

.fade-in-section {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
