@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
}

code {
  font-family: var(--font-geist-mono); /* Font code */
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

#container {
  scroll-snap-type: y mandatory;
}
.container {
  perspective: 1000px; /* Đặt góc nhìn để tạo hiệu ứng 3D */
}
.fade-in-section {
  opacity: 0;
  translate: 0 50px; /* Thay vì transform */
  transition: opacity 0.6s ease-out, translate 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  translate: 0 0;
}
